<nav class="navbar navbar-expand-xl bg-white navbar-light sticky-top main-navigation">
  <button class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {% include header/navigation/nav.html %}
  </div>
  <a class="navbar-brand mr-0" href="/">
    <img src="/img/logo.png" class="navbar-brand-image" border="0" alt="Logo of Cafe Zuefle Baiersbronn-Mitteltal">
  </a>
</nav>