<ul class="navbar-nav">
  <li class="nav-item {% if page.url == '/index.html' %} active {% endif %}">
    <a class="nav-link" href="/index.html">Home</a>
  </li>
  <li
    class="nav-item {% if page.url == '/pension.html' %} active {% endif %} dropdown"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/pension.html"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Pension
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/pension/zimmer.html">Zimmer</a>
      <a class="dropdown-item" href="/pension/preise.html">Preise</a>
      <a class="dropdown-item" href="/pension/info.html">Info</a>
    </div>
  </li>
  <li
    class="nav-item {% if page.url == '/cafe.html' %} active {% endif %} dropdown"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/cafe.html"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Café
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/cafe/raeumlichkeiten.html"
        >Räumlichkeiten</a
      >
      <a class="dropdown-item" href="/cafe/terasse.html">Terasse</a>
      <a class="dropdown-item" href="/cafe/oeffnungszeiten.html"
        >Öffnungszeiten</a
      >
    </div>
  </li>
  <li
    class="nav-item {% if page.url == '/baeckerei.html' %} active {% endif %}"
  >
    <a class="nav-link" href="/baeckerei.html">Bäckerei</a>
  </li>
  <li
    class="nav-item {% if page.url == '/freizeit.html' %} active {% endif %} dropdown"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/freizeit.html"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Freizeit
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/freizeit/mitteltal.html">Mitteltal</a>
      <a class="dropdown-item" href="/freizeit/baiersbronn.html">Baiersbronn</a>
      <a class="dropdown-item" href="/freizeit/ausflugsziele.html"
        >Ausflugsziele</a
      >
    </div>
  </li>
</ul>
