<ul class="navbar-nav">
  <li class="nav-item {% if page.url == '/index' %} active {% endif %}">
    <a class="nav-link" href="/index">Home</a>
  </li>
  <li
    class="nav-item {% if page.url == '/pension' %} active {% endif %} dropdown"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/pension"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Pension
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/pension">Übersicht</a>
      <a class="dropdown-item" href="/pension/zimmer">Zimmer</a>
      <a class="dropdown-item" href="/pension/preise">Preise</a>
      <a class="dropdown-item" href="/pension/info">Info</a>
    </div>
  </li>
  <li class="nav-item {% if page.url == '/cafe' %} active {% endif %} dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/cafe"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Café
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/cafe">Übersicht</a>
      <a class="dropdown-item" href="/cafe/raeumlichkeiten">Räumlichkeiten</a>
      <a class="dropdown-item" href="/cafe/terrasse">Terrasse</a>
      <a class="dropdown-item" href="/cafe/oeffnungszeiten">Öffnungszeiten</a>
    </div>
  </li>
  <li class="nav-item {% if page.url == '/baeckerei' %} active {% endif %}">
    <a class="nav-link" href="/baeckerei">Bäckerei</a>
  </li>
  <li
    class="nav-item {% if page.url == '/freizeit' %} active {% endif %} dropdown"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="/freizeit"
      id="navbarDropdownMenuLink"
      role="button"
    >
      Freizeit
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/freizeit">Übersicht</a>
      <a class="dropdown-item" href="/freizeit/mitteltal">Mitteltal</a>
      <a class="dropdown-item" href="/freizeit/baiersbronn">Baiersbronn</a>
      <a class="dropdown-item" href="/freizeit/ausflugsziele">Ausflugsziele</a>
    </div>
  </li>
</ul>
