<!-- Contact -->
<div>
  <h3>Kontakt</h3>
  <dl>
    <dt>Telefon:</dt>
    <dd>{{ site.contact.phone }}</dd>
    <dt>E-Mail:</dt>
    <dd>
      <a href="mailto:{{ site.contact.email }}" class="text-light">{{ site.contact.email }}</a>
    </dd>
    <dt>Website:</dt>
    <dd>
      <a href="https://{{ site.contact.website }}" class="text-light">{{ site.contact.website }}</a>
    </dd>
  </dl>
</div>

<!-- Make appointment -->
<a class="btn btn-light btn--make_appointment" href="/terminvereinbarung.html">
  Terminvereinbarung
</a>

<!-- Location -->
<div>
  <h3>Anfahrt</h3>
  <dl>
    <dt>Adresse:</dt>
    <dd>{{ site.location.address }}</dd>
  </dl>
  <iframe src="{{ site.location.iframe_url }}" style="border:0" allowfullscreen="" width="100%" height="260vh" frameborder="0"></iframe>
</div>

<!-- Meta -->
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link text-light" href="/impressum.html">Impressum</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/sitemap.xml">Sitemap</a>
  </li>
</ul>