<nav class="navbar navbar-expand-xl bg-white navbar-light sticky-top main-navigation">
  <button class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item {% if page.url == '/' %} active {% endif %}">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item {% if page.url == '/ergotherapie.html' %} active {% endif %} dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ergotherapie.html" id="navbarDropdownMenuLink" role="button">
          Ergotherapie
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ergotherapie#">Was ist Ergotherapie?</a>
          <a class="dropdown-item" href="/ergotherapie#">Philosophie unserer Praxis</a>
          <a class="dropdown-item" href="/ergotherapie#">Schwerpunkt Demenz</a>
          <a class="dropdown-item" href="/ergotherapie#">Schwerpunkt Neurologie</a>
          <a class="dropdown-item" href="/ergotherapie#">Schwerpunkt Orthopädie</a>
          <a class="dropdown-item" href="/ergotherapie#">Schwerpunkt Pädiatrie</a>
        </div>
      </li>
      <li class="nav-item {% if page.url == '/unsere-praxis.html' %} active {% endif %} dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
          Unsere Praxis
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/unsere-praxis#">Davon profitieren unsere Patienten</a>
          <a class="dropdown-item" href="/unsere-praxis#">Behandlungen in der Praxis</a>
          <a class="dropdown-item" href="/unsere-praxis#">Qualifikationen</a>
          <a class="dropdown-item" href="/unsere-praxis#">Bilder</a>
        </div>
      </li>
      <li class="nav-item {% if page.url == '/team.html' %} active {% endif %}">
        <a class="nav-link" href="/">Team</a>
      </li>
      <li class="nav-item {% if page.url == '/informationen-fuer-patienten.html' %} active {% endif %}">
        <a class="nav-link" href="/">Informationen für Patienten</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand mr-0" href="/">
    <img src="/img/logo.png" alt="Null" class="navbar-brand-image" border="0">
  </a>
</nav>