$red: #d3292d;
// Main sidebar
.main-sidebar {
  background: $red;
  @media (min-width: 1200px) {
    min-height: 100vh;
  }
  & .btn--make_appointment {
    margin-bottom: 1.5rem;
  }
}

// Main navigation
.main-navigation {
  .navbar-brand-image {
    height: 3rem;
    margin-left: 1rem;
    @media screen and (min-width: 1200px) {
      height: 3.5rem;
      margin-right: -63px;
    }
    @media screen and (min-width: 1360px) {
      height: 5rem;
      margin-right: -76px;
    }
  }
  .dropdown-item {
    &:active,
    &:focus {
      background-color: $red;
    }
  }
}

// Links
.nav-item.active {
  > .nav-link {
    color: $red !important;
  }
}

a {
  color: $red;
  &:focus,
  &:active,
  &:hover {
    color: $red;
  }
}

// Home page
.home__wrapper {
  min-height: calc(100vh - 300px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Images
img:not(.navbar-brand-image) {
  max-width: 100%;
}

// Team page
.card-columns {
  column-count: 1;
  @media screen and (min-width: 768px) {
    column-count: 2;
  }
}

// Heading
.main-content {
  & h2,
  h3,
  h4,
  h5,
  h6 {
    &::before {
      content: " ";
      margin-top: -325px;
      height: 325px;
      visibility: hidden;
      pointer-events: none;
      display: block;
    }
  }
  & h2:not(:last-child) {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
}
